#####################################################################
#   Print Start Macro
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script
gcode:
    # Set parameters
    {% set BED_TEMP = params.BED|int %}
    {% set EXTRUDER_TEMP = params.HOTEND|int %}
    {% set FILAMENT_TYPE = params.FILAMENT|string %}

#    {% if FILAMENT_TYPE == "PLA" %}
#      SET_GCODE_OFFSET Z_ADJUST=-0.03                            ; Make Z Offset a bit smaller for PLA
#      SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE=0.0185
#      SET_FAN_SPEED FAN=Chamber_Exhaust_Fan SPEED=1.0
#      SET_FAN_SPEED FAN=Nevermore SPEED=0
#    {% elif FILAMENT_TYPE == "PET" %}
#    {% elif FILAMENT_TYPE == "PETG" %}
#    {% elif FILAMENT_TYPE == "ABS" %}
#    {% elif FILAMENT_TYPE == "ASA" %}
#    {% else %}
#      SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE=0.04
#    {% endif %}
    
    M117 Homing...                 ; Display message
    HOTEND_RGB_HOMING              ; Set hotend LEDs
    G28                            ; Home all axes

    G0 X180 Y300 Z5 F3600         ; Move hotend to purge bucket position

    M117 Heating for TAP...        ; Display message
    HOTEND_RGB_HEATING             ; Set hotend LEDs
	M104 S150                      ; Heat nozzzle to TAP temp
	M190 S{BED_TEMP}               ; Heat up & wait for bed

    M117 Cleaning nozzle...        ; Display message
    HOTEND_RGB_CLEANING            ; Set hotend LEDs
    CLEAN_NOZZLE EXTRUDER_TEMP=150 PURGE=0 PURGE_LEN=0 PURGE_SPEED=0 WIPE_QTY=2                       ; Wipe nozzle
    
    M117 Z-Tilt adjust...          ; Display message
    HOTEND_RGB_CALIBRATING_Z       ; Set hotend LEDs
    Z_TILT_ADJUST                  ; Adjust bed tilt

    M117 Homing...                 ; Display message
    HOTEND_RGB_HOMING              ; Set hotend LEDs
    G28                            ; Home all axes

    M117 Building mesh...          ; Display message
    HOTEND_RGB_MESHING             ; Set hotend LEDs
    BED_MESH_CALIBRATE             ; Create adaptive bed mesh of the print area (KAMP)
    
    G0 X180 Y300 Z5 F3600         ; Move hotend to purge bucket position

    M117 Heating to print temp...  ; Display message
    HOTEND_RGB_HEATING             ; Set hotend LEDs
    M190 S{BED_TEMP}               ; Heat up & wait for bed
    M109 S{EXTRUDER_TEMP}          ; Heat up & wait for nozzle

    M117 Purging nozzle...         ; Display message
    HOTEND_RGB_CLEANING            ; Set hotend LEDs
    CLEAN_NOZZLE EXTRUDER_TEMP={EXTRUDER_TEMP} PURGE=1 PURGE_LEN=10 PURGE_SPEED=120 WIPE_QTY=0        ; Purge filament 
    G4 P10000                      ; Wait a few seconds after purge
    
    M117 Cleaning nozzle...        ; Display message
    CLEAN_NOZZLE EXTRUDER_TEMP={EXTRUDER_TEMP} PURGE=0 PURGE_LEN=0 PURGE_SPEED=0 WIPE_QTY=2           ; Wipe nozzle
    G4 P5000                       ; Wait a few seconds after purge
    CLEAN_NOZZLE EXTRUDER_TEMP={EXTRUDER_TEMP} PURGE=0 PURGE_LEN=0 PURGE_SPEED=0 WIPE_QTY=2           ; Wipe nozzle
    G0 X250 F3600                  ; Final wipe move
   
    M117                           ; Clear display
#    G0 X200 Y200 Z10 F3600         ; Move hotend into position to begin printing
    SMART_PARK                     ; Parking the hotend near to the print start point (KAMP)
    HOTEND_RGB_PRINTING            ; Set hotend LEDs


#####################################################################
#   Print End Macro
#####################################################################

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    # Safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    HOTEND_RGB_BUSY                                             ; Set hotend LEDs
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END                       ; Save Gcode state
    
    M400                                                        ; Wait for buffer to clear
    G92 E0                                                      ; Zero the extruder
    G1 E-2.0 F3600                                              ; Retract filament
    
    TURN_OFF_HEATERS                                            ; Begin cooldown
    
    G90                                                         ; Absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                     ; Move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600   ; Park nozzle at rear
    M107                                                        ; Turn off fan
    
#    SET_GCODE_OFFSET Z=0                                        ; Restore default Z Offset

    BED_MESH_CLEAR                                              ; Clear bed mesh
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END                    ; Restore Gcode state

    
    HOTEND_RGB_READY                                            ; Set hotend LEDs
