#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: EBBCan: PB6
position_min: 0

position_endstop: 300
position_max: 300

homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
# Values calculated for LDO-42STH48-2504AC Speedy Power - CS 31, Microsteps 32
# Resistance: 1.2ohms, Inductance: 1.5mH, Voltage: 2.5V, Current: 2.5A (RMS), Torque: 0.55Ncm, Temp: 130C, Weight: 350G
uart_pin: PC4
interpolate: False
stealthchop_threshold: 0
sense_resistor: 0.110
run_current: 0.976
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

##  A Stepper - Right
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: PG9
position_min: 0

position_endstop: 300
position_max: 300

homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
# Values calculated for LDO-42STH48-2504AC Speedy Power - CS 31, Microsteps 32
# Resistance: 1.2ohms, Inductance: 1.5mH, Voltage: 2.5V, Current: 2.5A (RMS), Torque: 0.55Ncm, Temp: 130C, Weight: 350G
uart_pin: PD11
interpolate: False
stealthchop_threshold: 0
sense_resistor: 0.110
run_current: 0.976
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 4     # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32

# Virtual endstop for Beacon Probe/Cartographer Probe/Voron Tap
#endstop_pin: EBBCan: PB6
endstop_pin: probe:z_virtual_endstop

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
## position_endstop needs to be disabled for Voron Tap
#position_endstop: -0.5

## All builds use same Max Z
position_max: 250
position_min: -2.5

homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
# Values calculated for LDO-42STH40-1684L300E(VRN) - CS 16, Microsteps 32
# Resistance: 1.65ohms, Inductance: 4.1mH, Voltage: 2.8V, Current: 1.68A, Torque: 0.45Ncm, Temp: 130C, Weight: 350g
uart_pin: PC6
interpolate: False
stealthchop_threshold: 999999
sense_resistor: 0.110
run_current: 0.520
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 1

##  Z1 Stepper - Rear Center
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 4     # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32

[tmc2209 stepper_z1]
# Values calculated for LDO-42STH40-1684L300E(VRN) - CS 16, Microsteps 32
# Resistance: 1.65ohms, Inductance: 4.1mH, Voltage: 2.8V, Current: 1.68A, Torque: 0.45Ncm, Temp: 130C, Weight: 350g
uart_pin: PC7
interpolate: False
stealthchop_threshold: 999999
sense_resistor: 0.110
run_current: 0.520
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 1

##  Z2 Stepper - Front Right
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 4     # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
microsteps: 32

[tmc2209 stepper_z2]
# Values calculated for LDO-42STH40-1684L300E(VRN) - CS 16, Microsteps 32
# Resistance: 1.65ohms, Inductance: 4.1mH, Voltage: 2.8V, Current: 1.68A, Torque: 0.45Ncm, Temp: 130C, Weight: 350g
uart_pin: PF2
interpolate: False
stealthchop_threshold: 999999
sense_resistor: 0.110
run_current: 0.520
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 1
